.search-form{
    margin: 5%;
}

.search-icon{
    text-align: right;
}

.search-icon i{
    font-size:4rem;
}

.search-text input{
    width: 100%;
    max-width:none;
    font-size:3rem;
}

.search-button{
    text-align: center;
}

.search-type select{
    font-size:2rem;
}

.list-img{
    height:100px;
}

h2 {
    color:#337ab7;
    font-weight:bolder;
}