
@{
    ViewBag.Title = "MovieSearch";
}

<h2>Movie Search</h2>
<div>
    <input id="movie_title" />
    <button onclick="getomdb()">OMDb</button>
    <div class="movie_response">

    </div>
</div>

<script>
    function getomdb() {
        $.ajax({
            url: "/api/MovieApi",
            type: "get",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: {
                title: $('#movie_title').val()
            },
            success: function (data) {
                $('.movie_response').empty();
                $('.movie_response').append("<span>" + data + "</span>");
            },
            fail: function (e) {
                alert("error");
            }
        });
    }
</script>