
@{
    ViewBag.Title = "MovieSearch";
}

<h2>Movie Search</h2>
<div>
    <input id="movie_title" />
    <select id="movie_type">
        <option value="movie">Film</option>
        <option value="series">Série</option>
        <option value="episode">Episode</option>
    </select>
    <button onclick="getomdb(false)">OMDb single</button>
    <button onclick="getomdb(true)">OMDb several</button>
    <div class="movie_response">

    </div>
</div>

<script>function getomdb(several) {
        $.ajax({
            url: "/api/MovieApi",
            type: "get",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: {
                title: $('#movie_title').val(),
                type: $("#movie_type").val(),
                several: several,
                year: null,
                plot: "short",
                datatype: "json",
                callback: null,
                page: null
            },
            success: function (data) {
                $('.movie_response').empty();
                $('.movie_response').append("<span>" + data + "</span>");
            },
            error: function (e) {
                alert("error");
            }
        });
    }</script>