@model Patronus.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("SearchPattern", "Search", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.SearchChainOeuvres)
    <input type="submit" value="Search" />
}

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Type</th>
        </tr>
    </thead>
    @foreach (var oeuvre in Model.Oeuvres)
    {
        <tr>
            <td>
                @oeuvre.Label
            </td>
            <td>
                @oeuvre.DateCreation
            </td>
            <td>
                @oeuvre.TypeOeuvre.LabelType
            </td>
        </tr>


        }
</table>

